#!/usr/bin/env python3
# -*- coding: utf-8 -*-
"""
Created on Wed Apr 23 01:47:40 2025

@author: anthony
"""

weasyprint==59.0
pydyf==0.6.0
streamlit==1.35
pandas
numpy
plotly
scipy
statsmodels
jinja2
openpyxl==3.1.2  